.classa {
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
    text-decoration: none;
}
.classa:hover {
    text-shadow: 1px 1px 10px blue;
}
.itema {
    color: aqua;
    text-shadow: 1px 1px 10px aqua;
    text-decoration: none;
}
.itema {
    text-shadow: 1px 1px 10px blue;
}